.home-page{
    .text-zone{
        position:absolute;
        left:10%;
        top:50%;
        transform:translateY(-50%);
        width:40%;
        max-height:90%;
    }

    #upper{
        display:flex;
        flex-direction:row;
        justify-content:left;
        align-items:center;
        gap:5px;
    }

    #lower{
        font-size:15px;
    }

    h1{
        color:#fff;
        font-size:40px;
        margin:0;
        font-family:"BPG Banner Caps";
        font-weight:400;

        &::before{
            content:'';
            font-family: 'BPG Banner Caps';
            color:#14699b;
            font-size:18px;
            position: absolute;
            margin-top:-40px;
            left:15px;
            opacity:0.6;
        }

        &::after{
            content:'';
            font-family: 'BPG Banner Caps';
            color:#14699b;
            font-size:18px;
            position: absolute;
            margin-top: 70px;
            left:50px;
            animation:fadeIn 1s 1.7s backwards;
            opacity:0.6;
        }

        img{
            width: 70px;
            margin-left:20px;
            opacity:0;
            height:auto;
            animation:rotateIn 1s linear both;
            animation-delay:1.4s;
        }
    }

    h2{
        color:#8d8d8d;
        margin-top:20px;
        font-weight:400;
        font-size:11px;
        font-family: BPG Banner Caps;
        letter-spacing: 3px;
        animation:fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color:#f8f9fa;
        font-size:13px;
        font-weight:400;
        letter-spacing:4px;
        font-family: BPG Banner Caps;
        text-decoration: none;
        padding:10px 18px;
        border:1px solid #f8f9fa;
        margin-top:25px;
        float:left;
        animation:fadeIn 1s 1.8s backwards;
        white-space:nowrap;

        &:hover{
            background:#14699b;
            color:#f8f9fa;
            border:0px;
        }
    }
}

.container{ 
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;  
}

.slider-zone{
    padding-right:100px;
}